<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <div class="overlay"></div>
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="item slides">
        <div class="slide-2">
          <img class="card-img-top"   src="https://www.conservation-strategy.org/sites/default/files/CSF_Analysis_header_1.png">
        </div>
        <div class="hero">
          <h1>SITIOS TURISTICOS</h1>
          <h3> DE COLOMBIA</h3>
        </div>
      </div>
      <div class="item slides">
      </div>
    </div>
  </div>
</div>
